{% extends 'base.html.twig' %}

{% block title %}LA4-design - acceuil
{% endblock %}

{% block body %}
	<div class=" flex">
		<aside class="flex left-side-home">
			<div class="container-left-home flex" style="background-image: url( /assets/images/post_0206.png)">
				<h3 class="title-left-home">Dessin de premiere page</h3>
				<span class="foreground-left-home"></span>
			</div>
		</aside>
		<main>

			<div class="container flex">
				<img src="" alt="">
				<h4>Title</h4>
				<p>Description</p>
				<span>
					date de création</span>
				<span>date du post</span>
			</div>
		</main>
	</div>
{% endblock %}
