<nav class="flex">
	<div>
		<a href="{{path("home")}}">
			<img src="{{asset("/public/assets/images/Logo_LA4.png")}}" alt=" logo représentant les lettres L A 4 entreméllés en une forme">
			<h1>LA4-design.com</h1>
		</a>
	</div>
	<div>
		<ul>
			<li><a href="#">Acceuil</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">CV</a></li>
			<li><a href="#">À propos</a></li>
			<li><a href="#">Contactez-moi</a></li>
		</ul>
	</div>
	<div>
		<a href="#">Connection</a>
	</div>
</nav>
