<nav class="container navbar flex space-between ">
	<div>
		<a class="flex space-between" href="{{path("home")}}">
			<img width="20px" height="25px" src="{{asset("assets/images/Logo_LA4.png")}}" alt=" logo représentant les lettres L A 4 entreméllés en une forme">
			<h1 class="ml-8 navbar-title">LA4-design.com</h1>
		</a>
	</div>
	<div>
		<ul class="flex ">
			<li class="ml-16">
				<a href="#">Acceuil</a>
			</li>
			<li class="ml-16">
				<a href="#">Portfolio</a>
			</li>
			<li class="ml-16">
				<a href="#">CV</a>
			</li>
			<li class="ml-16">
				<a href="#">À propos</a>
			</li>
			<li class="ml-16">
				<a href="#">Contactez-moi</a>
			</li>
		</ul>
	</div>
	<div>
		<small>
			<a href="#">Connection</a>
		</small>
	</div>
</nav>
