@font-face {
    font-family: "Poppins";
    src: url("/public/assets/font/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B3337;
    --background-color: #2B3337;
    --main-color: #0D425F;
    --secondary-color: #FFC14E;
    --font-color: #E9EBEC;
    --font-secondary-color: #F2E0BF;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none
}

@import 'general.css';
@import 'navbar.css';