.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.ml-8 {
    margin: 0 0 0 8px;
}

.ml-16 {
    margin: 0 0 0 16px;
}

.mr-8 {
    margin: 0 8px 0 0;
}

.mt-32 {
    margin-top: 32px;
}

.mt-8 {
    margin-top: 8px;
}

.img-thumb {
    display: block;
    width: 150px;
    height: 150px;
}

.warning {
    color: white;
    background-color: red;
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}